.cart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffff;
    padding: 10px;
    border-radius: 20px 0 0 0;
}
.cart-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    gap: 1em;
}
.btn-cart-modal{
    padding: 10px;
    border-radius: 5px;
    border:none;
    font-size: 20px;
    align-items: flex-start;
    color: var(--color1);
    background-color: var(--color2);
}
.btn-cart-modal:hover{
    color: var(--color2);
    background-color: var(--color1);
    border: solid var(--color2);
}
.cart-card{
    width: 100%;
    padding: 1em;
}
.cart-card-container{
    display: flex;

    justify-content: space-around;
    justify-content: center;
    width: 100%;
}
.cart-card-container-images{
    width: 50%;
    height: 100%;
    object-fit: contain;
}
.cart-card-images{
    width: 2.5em;
    aspect-ratio: .5;
}
.cart-card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    flex-wrap: wrap;
    color: var(--color3);
}
.cart-card-body-title{
    text-align: justify;
    font-weight: bold;
    border-bottom: 2px solid var(--color2);
}
.cart-card-body-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.cart-card-body-quantity{
    border: 2px solid var(--color2);
    border-radius: 10px;
    padding: .5em;
    margin: auto;
}
.cart-card-body-price{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cart-card-body-btn{
    background-color: var(--color2);
    border: 2px solid var(--color1);
    border-radius: 20px;
    padding: .5em;
    cursor: pointer;
}
.bx-trash{
    font-size: 16px;
    color: var(--color1);
}
.cart-card-body-btn:hover{
    background-color: var(--color3);
}
.cart-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.cart-footer-body{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-top: 4px solid var(--color2);
}
.cart-footer-body span{
    color: var(--color2);
    font-size: 20px;
}
.cart-footer-body h3 {
    color: var(--color3);
    font-size: 25px;
}
.cart-footer-btn {
    background-color: var(--color2);
    color: var(--color1);
    border: 2px solid var(--color1);
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: .5em;
    cursor: pointer;
}
.cart-footer-btn:hover{
    background-color: var(--color3);
}